<!-- Default home page -->
<div class="container">
    <input id="usuario" type="text" ng-model="usuario" placeholder="tu nombre...">
    <input id="password" type="password" ng-model="password" placeholder="la contraseña...">
    <input id="loginButton" type="button" ng-model="usuario" value="Login" onclick="">
    <div id="loginResultMessage">Todavía no pasó nada</div>
</div>
